* {
  padding: 0px;
  margin: 0px;
}

.container {
  max-width: 1230px;
}

body {
  box-sizing: border-box;
}

html {
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  max-width: 1230px;
}

.header .header-top {
  border-bottom: 1px solid #d6d6d6;
}
.header .header-top .top-nav {
  display: flex;
  justify-content: center;
}
.header .header-top .top-nav li {
  display: inline-block;
  padding: 12px 20px;
}
.header .header-top .top-nav li a {
  text-decoration: none;
  color: #888;
  font-weight: 300;
  font-size: 12px;
}
.header .header-top .top-nav .nav-active {
  position: relative;
  display: block;
  padding: 4px 0;
  text-decoration: none;
  text-transform: uppercase;
  transition: 0.5s;
  color: #d52b1e;
}
.header .header-top .top-nav .nav-active::after {
  position: absolute;
  content: "";
  top: -12px;
  left: 0;
  width: 100%;
  height: 4px;
  background: #d52b1e;
}
.header .header-line {
  height: 15px;
  background-color: #f9f9f9;
}
.header .header-bottom {
  padding: 0 15px;
  display: flex;
  justify-content: space-between;
  line-height: 53px;
  border-bottom: 1px solid #d6d6d6;
  border-top: 1px solid #d6d6d6;
}
.header .header-bottom .bottom-logo {
  height: 60px;
  width: 97px;
  padding-top: 10px;
}
.header .header-bottom .bottom-logo img {
  margin-bottom: 20px;
  width: 100%;
}
.header .header-bottom .bottom-nav li {
  display: inline-block;
  padding: 5px;
}
.header .header-bottom .bottom-nav li:hover .fa-caret-down {
  transform: rotate(90deg);
}
.header .header-bottom .bottom-nav li:hover a {
  color: #d52b1e;
}
.header .header-bottom .bottom-nav li a {
  position: relative;
  display: block;
  padding: 4px 0;
  text-decoration: none;
  text-transform: uppercase;
  transition: 0.5s;
  text-decoration: none;
  color: #666;
  font-weight: 900;
  font-size: 11px;
}
.header .header-bottom .bottom-nav li a .fa-caret-down {
  padding-left: 4px;
}
.header .header-bottom .bottom-nav li a::after {
  position: absolute;
  content: "";
  top: 100%;
  left: 0;
  width: 100%;
  height: 3px;
  background: #d52b1e;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.5s;
}
.header .header-bottom .bottom-nav li a:hover::after {
  transform: scaleX(1);
  transform-origin: left;
}
.header .header-bottom .bottom-seach {
  margin-right: 18px;
  font-size: 20px;
  color: #6a6a6a;
  border-left: 1px solid #d6d6d6;
  border-right: 1px solid #d6d6d6;
  cursor: pointer;
}
.header .header-bottom .bottom-seach .fa-search {
  padding: 26px;
}
.header .header-bottom .seach-click {
  display: none;
  border-top: #ccc 1px solid;
  width: 100%;
  height: 205px;
  background-color: #fff;
  position: absolute;
  left: 0px;
  top: 62px;
  z-index: 1000;
}
.header .header-bottom .seach-click img {
  position: absolute;
  top: 20px;
  left: 620px;
}
.header .header-bottom .seach-click input {
  margin-left: 280px;
  width: 770px;
  height: 76px;
  padding-left: 90px;
  font-size: 15px;
  color: #ccc;
  margin-top: 110px;
  outline: none;
  border: 1px solid #ccc;
}
.header .header-bottom .seach-click input:focus {
  box-shadow: 0.3px 0.3px 0px 4px #f4cac7;
}
.header .header-bottom .seach-click .close {
  top: 10px;
  left: 40px;
  font-size: 30px;
  color: #d52b1e;
  position: absolute;
}
.header .header-bottom .seach-click .close:hover {
  opacity: 0.8;
}
.header .header-bottom .seach-click .fa-search {
  position: absolute;
  top: 110px;
  left: 280px;
  color: #d52b1e;
}
.header .header-bottom .hamburger {
  display: none;
}
.header .header-bottom .bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: #666;
}
.header .sticky {
  position: fixed;
  top: 0px;
  z-index: 100;
  width: 100%;
  background-color: #fff;
  transition: 0.5s;
}
@media (max-width: 1024px) {
  .header .bottom-logo {
    margin-left: 60px;
  }
  .header .bottom-nav {
    position: relative;
  }
  .header .bottom-nav .nav-menu {
    position: fixed;
    left: -100%;
    top: 125px;
    display: flex;
    flex-direction: column;
    background-color: #f9f9f9;
    width: 60%;
    z-index: 100;
    padding-right: 30px;
    padding-left: 30px;
    border-radius: 10px;
    text-align: start;
    transition: 0.4s;
    box-shadow: 0 10px 27px rgba(0, 0, 0, 0.05);
    border-radius: 0px;
  }
  .header .bottom-nav .nav-menu .nav-link {
    color: #666;
    border-bottom: 1px solid #d6d6d6;
    font-size: 18px;
    font-weight: 600;
  }
  .header .bottom-nav .nav-menu .nav-link .fa-caret-down {
    padding-top: 15px;
    float: right;
  }
  .header .bottom-nav .nav-menu .nav-link:hover .fa-caret-down {
    transform: rotate(0deg);
  }
  .header .bottom-nav .nav-menu.active {
    left: 0;
  }
  .header .bottom-nav .nav-item {
    margin: 0.3rem 0;
  }
  .header .bottom-nav .hamburger {
    left: -388px;
    top: 20px;
    position: absolute;
    display: block;
    cursor: pointer;
  }
  .header .bottom-nav .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }
  .header .bottom-nav .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }
  .header .bottom-nav .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
  .header .header-bottom .seach-click input {
    margin-left: 120px;
    width: 520px;
  }
  .header .header-bottom .seach-click .fa-search {
    top: 110px;
    left: 120px;
    color: #d52b1e;
  }
  .header .header-bottom .seach-click img {
    left: 320px;
  }
}
@media (max-width: 576px) {
  .header .bottom-logo {
    margin-left: 108px;
  }
  .header .bottom-logo img {
    padding-top: 4px;
  }
  .header .header-top .top-nav .nav-active::after {
    top: -4px;
  }
  .header .header-top .top-nav li {
    padding: 5px 18px;
  }
  .header .bottom-nav .hamburger {
    left: -230px;
  }
  .header .bottom-nav .nav-menu {
    top: 122px;
    width: 100%;
  }
  .header .bottom-seach .seach-click input {
    margin-left: 60px;
    width: 260px;
    padding-left: 70px;
  }
  .header .bottom-seach .seach-click .fa-search {
    top: 110px;
    left: 60px;
    color: #d52b1e;
  }
  .header .bottom-seach .seach-click img {
    left: 160px;
  }
}

.content .slide-banner {
  position: relative;
}
.content .slide-banner .slide-show img {
  width: 100%;
}
.content .slide-banner .slide-show {
  position: relative;
}
.content .slide-banner .slide-show .logo-title {
  top: 200px;
  left: 25px;
  position: absolute;
}
.content .slide-banner .slide-show .logo-title p {
  font-size: 44px;
  color: #ffffff;
}
.content .slide-banner .slide-show .logo-title button {
  padding: 12px 23px;
  margin: 20px 0px;
  border-radius: 4px;
  font-weight: 700;
  border: none;
  background-color: #d52b1e;
  color: #fff;
  cursor: pointer;
}
.content .slick-dots {
  position: absolute;
  bottom: 72px;
  left: 50%;
  transform: translate(-50%, 50px);
  display: flex !important;
  align-items: center;
  justify-content: center;
  list-style: none;
  gap: 0 30px;
  font-size: 0px;
}
.content .slick-dots button {
  font-size: 0px;
  border-radius: 50%;
  width: 50px;
  height: 2px;
  border: none;
  outline: none;
  margin-top: 30px;
}
.content .slick-dots .slick-active button {
  background-color: #d52b1e;
}
.content .product-content {
  margin-top: 30px;
  display: flex;
  justify-content: space-around;
}
.content .product-content img {
  width: 632px;
  height: 418px;
}
.content .product-content .product-img {
  cursor: pointer;
  position: relative;
}
.content .product-content .product-img:hover img {
  opacity: 0.8;
}
.content .product-content .product-img:hover .product-title {
  background-color: #171718;
}
.content .product-content .product-img .product-title {
  cursor: pointer;
  text-align: center;
  padding: 15px 20px 10px;
  bottom: 4px;
  width: 340px;
  height: 82px;
  background-color: #d52b1e;
  position: absolute;
}
.content .product-content .product-img .product-title p {
  font-size: 24px;
  color: #fff;
}
.content .product-content .product-img .product-title a {
  text-decoration: none;
  font-size: 24px;
  color: #fff;
  font-size: 20px;
}
@media (max-width: 1024px) {
  .content .slide-banner .slide-show .logo-title {
    top: 100px;
  }
  .content .product-content img {
    width: 360px;
    height: 218px;
  }
  .content .product-content .product-img .product-title {
    width: 100%;
    bottom: -78px;
    padding-bottom: 50px;
  }
}
@media (max-width: 576px) {
  .content .slide-banner .slide-show .logo-title {
    top: 10px;
  }
  .content .slide-banner .slide-show .logo-title p {
    font-size: 15px;
  }
  .content .product-content {
    padding: 0px 10px;
    display: flex;
    flex-direction: column;
  }
  .content .product-content img {
    width: 100%;
    display: block;
  }
  .content .product-content .product-img .product-title {
    position: unset;
    margin-bottom: 20px;
  }
}

.new-product {
  border-bottom: 1px solid #7b7b7b;
  margin: 0 30px;
  padding-bottom: 100px;
}
.new-product .title {
  padding-left: 30px;
  font-size: 30px;
  padding-top: 80px;
  padding-bottom: 20px;
  font-weight: bold;
  color: #2b2b2b;
  position: relative;
}
.new-product .title::after {
  content: "";
  width: 60px;
  height: 4px;
  top: 65px;
  left: 30px;
  background-color: #d52b1e;
  position: absolute;
}
.new-product .product-desc {
  background-color: #e6e6e6;
  height: 100%;
  padding: 32px;
  text-align: center;
  position: relative;
}
.new-product .product-desc:after {
  content: "NEW";
  background-color: #d52b1e;
  font-size: 14px;
  position: absolute;
  top: -10px;
  padding: 3px 7px;
  left: 130px;
  font-weight: 600;
  color: #fff;
}
.new-product .product-desc img {
  width: 100%;
  width: 156px;
  height: 468px;
  mix-blend-mode: darken;
}
.new-product .product-desc a {
  text-align: start;
  font-size: 16px;
  margin-top: 40px;
  height: 50px;
  text-decoration: none;
  color: #151414;
  display: block;
  font-weight: 550;
}
.new-product .product-desc .product-color {
  font-weight: bold;
  text-align: end;
}
@media (max-width: 1024px) {
  .new-product .title {
    margin-top: 80px;
  }
  .new-product .title::after {
    top: 58px;
  }
  .new-product .product-desc img {
    width: 105px;
    height: 357px;
  }
  .new-product .product-desc::after {
    left: 68px;
  }
  .new-product .product-desc a {
    width: 150px;
  }
}
@media (max-width: 576px) {
  .new-product .product-desc {
    background-color: #fff;
  }
  .new-product .product-desc a {
    font-size: 13px;
  }
  .new-product .product-desc img {
    background-blend-mode: darken;
  }
  .new-product .title {
    font-size: 20px;
  }
}

.fender-layout {
  margin: 100px 20px;
  padding-bottom: 100px;
  border-bottom: 1px solid #aaaaaa;
}
.fender-layout .fender-product {
  position: relative;
}
.fender-layout .fender-product::after {
  top: -40px;
  left: 0px;
  position: absolute;
  content: "FENDER FEED";
  font-size: 40px;
  padding: 20px 60px 70px 50px;
  background-color: #d52b1e;
  color: #fff;
  width: 40%;
  z-index: -1;
  font-weight: bold;
}
.fender-layout .fender-product .fender-desc {
  padding: 40px;
  position: relative;
}
.fender-layout .fender-product .fender-desc img {
  width: 100%;
}
.fender-layout .fender-product .fender-desc img:hover {
  cursor: pointer;
  opacity: 0.8;
}
.fender-layout .fender-product .fender-desc .fender-link {
  bottom: -30px;
  position: absolute;
  width: 75%;
  height: 100px;
  background-color: white;
}
.fender-layout .fender-product .fender-desc .fender-link a {
  color: black;
  text-decoration: none;
  line-height: 40px;
}
@media (max-width: 1024px) {
  .fender-layout {
    padding-top: 20px;
  }
  .fender-layout .fender-product::after {
    text-align: center;
    top: -80px;
    left: 0px;
    width: 96%;
    left: 15px;
    font-size: 40px;
    padding: 20px 60px 70px 50px;
  }
  .fender-layout .fender-product .fender-desc {
    padding: 0;
  }
  .fender-layout .fender-product .fender-desc img {
    padding-bottom: 100px;
  }
  .fender-layout .fender-product .fender-desc .fender-link {
    bottom: 42px;
  }
}
@media (max-width: 576px) {
  .fender-layout .fender-product::after {
    top: -60px;
    left: 0px;
    width: 100%;
    content: "FENDER FEED";
    font-size: 20px;
  }
  .fender-layout .fender-product .fender-desc .fender-link {
    width: 100%;
    right: 0px;
  }
}

.static-content {
  margin: 0 30px;
  padding-bottom: 70px;
}
.static-content .title {
  padding-left: 30px;
  font-size: 30px;
  padding-top: 80px;
  padding-bottom: 20px;
  font-weight: bold;
  color: #2b2b2b;
  position: relative;
}
.static-content .title::after {
  content: "";
  width: 60px;
  height: 4px;
  top: 65px;
  left: 30px;
  background-color: #d52b1e;
  position: absolute;
}
.static-content .product-desc {
  padding: 32px;
  text-align: center;
  position: relative;
}
.static-content .product-desc:after {
  content: "NEW";
  background-color: #d52b1e;
  font-size: 14px;
  position: absolute;
  top: 0px;
  padding: 3px 7px;
  left: 130px;
  font-weight: 600;
  color: #fff;
}
.static-content .product-desc img {
  width: 100%;
  width: 186px;
  height: 186px;
}
.static-content .product-desc a {
  text-align: start;
  font-size: 16px;
  margin-top: 40px;
  height: 50px;
  text-decoration: none;
  color: #151414;
  display: block;
}
.static-content .product-desc .product-color {
  font-weight: bold;
  text-align: end;
}
@media (max-width: 1024px) {
  .static-content .product-desc:after {
    top: 0px;
    left: 65px;
  }
  .static-content .product-desc img {
    width: 106px;
    height: 106px;
  }
  .static-content .product-desc .product-color {
    padding-top: 40px;
  }
}

.footer {
  padding: 0px 30px;
  background-color: #121212;
  color: #ede7e7;
}
.footer .footer-logo {
  padding: 30px 0px;
}
.footer .global-footer {
  display: flex;
}
.footer .global-footer__list {
  border-top: 1px solid #4a4a4a;
  margin: 16px;
  flex: 1;
  line-height: 20px;
}
.footer .global-footer__list p {
  font-weight: bold;
  padding: 30px 0px;
  font-size: 16px;
}
.footer .global-footer__list a {
  display: block;
  text-decoration: none;
  color: #ccc;
  font-weight: normal;
  font-size: 16px;
  font-weight: 400;
}
.footer .footer-social {
  border-bottom: 1px solid #4a4a4a;
  padding: 40px 0px;
  display: flex;
  justify-content: space-between;
}
.footer .footer-social .footer-btn {
  border: 1px solid #fff;
  padding: 12px 19px;
  border-radius: 30px;
}
.footer .footer-social .footer-btn button {
  color: #fff;
  font-weight: 900;
  background-color: #121212;
  border: none;
  outline: none;
}
.footer .footer-social .footer-contact .fab {
  padding-right: 20px;
  font-size: 28px;
  color: #4a4a4a;
}
.footer .footer-social .footer-contact .fab:hover {
  color: #fff;
}
.footer .footer-copyright {
  font-size: 14px;
  padding: 20px 0px 50px;
  display: flex;
}
.footer .footer-copyright .copyright-text {
  flex: 1;
}
.footer .footer-copyright .copyright-notice {
  flex: 1;
}
.footer .footer-copyright .copyright-notice ul {
  justify-content: flex-end;
  padding: 0;
  margin: 0;
}
.footer .footer-copyright .copyright-notice ul li {
  display: inline-block;
}
.footer .footer-copyright .copyright-notice ul li a {
  text-decoration: none;
  color: #ccc;
  padding-left: 30px;
  line-height: 30px;
}
@media (max-width: 1024px) {
  .footer .footer-copyright {
    display: flex;
    justify-content: flex-start;
  }
}
@media (max-width: 576px) {
  .footer .global-footer {
    display: flex;
    flex-wrap: wrap;
  }
  .footer .footer-social {
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  .footer .footer-social .footer-btn {
    margin-bottom: 35px;
    display: block;
    margin-left: 70px;
    width: max-content;
  }
  .footer .footer-copyright {
    flex-direction: column;
    align-items: flex-end;
    text-align: center;
  }
  .footer .footer-copyright .copyright-text {
    padding-top: 30px;
    line-height: 1.5;
    order: 2;
  }
  .footer .footer-copyright .copyright-notice {
    flex-direction: column;
    order: 1;
  }
  .footer .footer-copyright .copyright-notice .copy-link {
    line-height: 1.3;
    display: block;
    margin-right: 50px;
  }
}

/*# sourceMappingURL=main.css.map */
