.container {
    max-width: 1230px;
}
.header{        
    .header-top{
        border-bottom: 1px solid rgb(214, 214, 214);
        .top-nav{
            display: flex;
            justify-content: center;
            li{
                display:inline-block;
                padding: 12px 20px;
                a{
                    text-decoration: none;
                    color: #888;
                    font-weight: 300;
                    font-size: 12px;
                }
            }
            .nav-active{
                position: relative;
                display: block;
                padding: 4px 0;
                text-decoration: none;
                text-transform: uppercase;
                transition: 0.5s;
                color: #d52b1e;
                &::after {
                    position: absolute;
                    content: "";
                    top: -12px;
                    left: 0;
                    width: 100%;
                    height: 4px;
                    background: #d52b1e;
                }
            }
        }
    }
    .header-line{
        height: 15px;
        background-color:#f9f9f9;
    }
    .header-bottom{
        padding: 0 15px;
        display: flex;
        justify-content: space-between;
        line-height: 53px;
        border-bottom: 1px solid rgb(214, 214, 214);
        border-top: 1px solid rgb(214, 214, 214);
        .bottom-logo{
            height: 60px;
            width: 97px;
            padding-top: 10px;
            img{
                margin-bottom: 20px;
                width: 100%;
            }
        }
        .bottom-nav{
            li{
                display:inline-block;
                padding: 5px;
                &:hover{
                    .fa-caret-down{
                        transform: rotate(90deg);

                    }
                    a{
                        color: #d52b1e;
                    }
                }
                a {
                    position: relative;
                    display: block;
                    padding: 4px 0;
                    text-decoration: none;
                    text-transform: uppercase;
                    transition: 0.5s;
                    text-decoration: none;
                    color: #666;
                    font-weight: 900;
                    font-size: 11px;
                    .fa-caret-down{
                        padding-left: 4px;
                    }
              
                    &::after {
                      position: absolute;
                      content: "";
                      top: 100%;
                      left: 0;
                      width: 100%;
                      height: 3px;
                      background: #d52b1e;
                      transform: scaleX(0);
                      transform-origin: right;
                      transition: transform 0.5s;
                    }             
                    &:hover::after {
                      transform: scaleX(1);
                      transform-origin: left;
                    }
                  }
            }
        }
        .bottom-seach{
            margin-right: 18px;
            font-size: 20px;
            color: rgb(106, 106, 106);
            border-left: 1px solid rgb(214, 214, 214);
            border-right: 1px solid rgb(214, 214, 214);
            cursor: pointer;
            .fa-search{
                padding: 26px;
            }
        }
        .seach-click{
            display: none;
            border-top: #ccc 1px solid;
            width: 100%;
            height: 205px;
            background-color: #fff;
            position: absolute;
            left: 0px;
            top: 62px;
            z-index: 1000;

            img{
                position: absolute;
                top: 20px;
                left:620px ;
            }
            input{
                margin-left: 280px;
                width: 770px;
                height: 76px;
                padding-left: 90px;
                font-size: 15px;
                color: #ccc;
                margin-top: 110px;
                outline: none;
                border: 1px solid #ccc;
               &:focus{
                    box-shadow: .3px .3px 0px 4px #f4cac7;
               }
            }
            .close{
                top: 10px;
                left: 40px;
                font-size: 30px;
                color: #d52b1e;
                position: absolute;
                &:hover{
                    opacity: 0.8;
                }
            }
            .fa-search{
                position: absolute;
                top: 110px;
                left: 280px;
                color: #d52b1e;
            }
        }
        .hamburger {
            display: none;
        }
        .bar {
            display: block;
            width: 25px;
            height: 3px;
            margin: 5px auto;
            -webkit-transition: all 0.3s ease-in-out;
            transition: all 0.3s ease-in-out;
            background-color: #666;
        }
    }
.sticky{
    position: fixed;
    top: 0px;
    z-index: 100;
    width: 100%;
    background-color: #fff;
    transition: 0.5s;
}
    
    @include maxWidth(1024px){
        .bottom-logo{
            margin-left: 60px;
        }
        .bottom-nav{
            position: relative;
            .nav-menu {
                position: fixed;
                left: -100%;
                top: 125px;
                display: flex;
                flex-direction: column;
                background-color:#f9f9f9;
                width: 60%;
                z-index: 100;
                padding-right: 30px;
                padding-left: 30px;
                border-radius: 10px;
                text-align: start;
                transition: 0.4s;
                box-shadow: 0 10px 27px rgba(0, 0, 0, 0.05);
                border-radius: 0px;
                .nav-link{
                    color: #666;
                    border-bottom: 1px solid rgb(214, 214, 214);
                    font-size: 18px;
                    font-weight: 600;
                    .fa-caret-down{
                        padding-top: 15px;
                        float: right;

                    }
                    &:hover{
                        .fa-caret-down{
                            transform: rotate(0deg);
    
                       }   
                    }
                }
            }
            .nav-menu.active {
                left: 0;
            }
            
            .nav-item {
                margin: .3rem 0;
            }
            .hamburger {
                left: -388px;
                top: 20px;
                position: absolute;
                display: block;
                cursor: pointer;

            }
            .hamburger.active .bar:nth-child(2) {
                opacity: 0;
            }
        
            .hamburger.active .bar:nth-child(1) {
                transform: translateY(8px) rotate(45deg);
            }
        
            .hamburger.active .bar:nth-child(3) {
                transform: translateY(-8px) rotate(-45deg);
            }
        }
        .header-bottom{
            .seach-click{
                input{
                    margin-left: 120px;
                    width: 520px;
                }
                .fa-search{
                    top: 110px;
                    left: 120px;
                    color: #d52b1e;
                }
                img{
                    left: 320px;
                }
        
            }
            
        }
    }
    @include maxWidth(576px){
        .bottom-logo{
            margin-left: 108px;
            img{
                padding-top: 4px;
            }
        }
        .header-top{
            .top-nav{
                .nav-active{
                    &::after{
                        top: -4px;
                    }
                }
                li{
                    padding: 5px 18px;
                }
            }
        }
        .bottom-nav{
            .hamburger{
                left: -230px;
            }
            .nav-menu{
                top: 122px;
                width: 100%;

            }
        }
        .bottom-seach{
            .seach-click{
                input{
                    margin-left: 60px;
                    width: 260px;
                    padding-left:70px;
                }
                .fa-search{
                    top: 110px;
                    left: 60px;
                    color: #d52b1e;
                }
                img{
                    left: 160px;
                }
        
            }
        }
    }
}
